# Build output
build/
*.elf
*.bin
*.hex
*.map
*.lst

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
_deps/

# IDE - STM32CubeIDE / Eclipse
.settings/
mx.scratch
.mxproject
*.launch

# IDE - VSCode (kişisel / makineye özel)
.vscode/ipch/
.vscode/c_cpp_properties.json

# Clangd cache
.cache/

# Compiler / linker artifacts
*.o
*.d
*.a
*.so
*.su
*.cyclo

# Debug
*.jou
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini
